/*FONTS*/
    /*SIZE*/
.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}
    /*COLORS*/
.white {
    color: white;
}

.gray {
    color: gray;
}

.blue {
    color: #009dff;
}

.lightskyblue {
    color: lightskyblue;
}

.red {
    color: #c76974;
}

.hidden {
    display: none;
}
    /*OTHER*/
.bold {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: lightskyblue;
}

.link:hover {
    color: white;
}


/*BORDERS*/
.round {
    border-radius: 10px;
}

.rounder {
    border-radius: 20px;
}

.roundest {
    border-radius: 40px;
}

.border-bottom {
    border-bottom: 2px solid gray;
}

.border-top {
    border-top: 2px solid gray;
}


/*LAYOUTS*/
.row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
    width: 100%;
}

.column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p {
    padding: 10px;
}


/*BACKGROUNDS*/
.dark {
    background-color: #202020;
}

.medium-dark {
    background-color: #2a2a2a;
}

.medium {
    background-color: #3a3a3a;
}

.medium-light {
    background-color: #404040;
}

.light {
    background-color: #4a4a4a;
}


/*BUTTONS*/
.btn {
    border-radius: 20px !important;
    height: 40px;
    width: 120px;
    margin: 10px;
}

button.blue {
    background-color: #009dff;
    color: white;
    border: 1px solid lightskyblue;
}

button.blue:hover {
    border: 1px solid hsl(207, 100%, 70%);
    background-color: hsl(207, 100%, 45%);
}

button.blue:active {
    border: 2px solid hsl(207, 100%, 70%) !important;
    background-color: hsl(207, 100%, 45%) !important;
}

button.blue:focus {
    border: 2px solid hsl(207, 100%, 70%);
    background-color: hsl(207, 100%, 45%);
    outline: none;
    box-shadow: 0 0 0 3px hsl(207, 50%, 45%);
}

button.gray {
    background-color: #4a4a4a;
    color: white;
    border: 1px solid #808080;
}

button.gray:hover {
    border: 1px solid #3a3a3a;
    background-color: #707070;
}

button.gray:active {
    border: 2px solid #3a3a3a !important;
    background-color: #707070 !important;
}

button.gray:focus {
    border: 2px solid #3a3a3a;
    background-color: #707070;
    outline: none;
    box-shadow: 0 0 0 3px #3a3a3a;
}


/*HEADER*/
header nav {
    height: 90px;
}



/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 35px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray;
    border-radius: 10px;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 1px solid#aaaaaa;
}

::-webkit-scrollbar-track {
    background-color: #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4a4a4a;
}

::-webkit-scrollbar-thumb:active {
    background-color: #2a2a2a;
}


/*OTHER*/
.header_wide {
    width: 250px;
}

.height-20 {
    height: 20px;
}

.input {
    width: 25vw;
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #3a3a3a;
    color: white;
    font-size: 16px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}