/* header nav {
    display: block;
    justify-content: center;
}

header nav a {
    justify-self: left;
} */

.email-password {
    height: fit-content;
}

.email-password span {
    width: max-content;
}

.email-password input {
    width: 25vw;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #3a3a3a;
    color: white;
}