body {
    display: flex;
    flex-direction: column;
    min-width: 375px;    
}

header {
    flex: 0 100px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}

main .wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
}

main div.video-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    margin: 10px;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 10px;
    overflow-y: auto;
}

nav {
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 7px;
}

main div.d-inline-block {
    position: sticky;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 10px;
    text-align: center;
}

main a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
}

main a:hover {
    /* color: blue; */
}